<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      CLIMA TEMPO
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >

<ion-card>
  <ion-header>
    <ion-item>
      <ion-icon name="partly-sunny-outline" slot="end" class="icone"></ion-icon>
      <ion-label>{{previsao.name}}</ion-label>
      <ion-label class="tempo">29C°</ion-label>
    </ion-item>
  </ion-header>


    <ion-card-content>

      <ion-item>
        <ion-grid>
          <ion-row>
            <ion-col>
              <div>00/00</div>
            </ion-col>
            <ion-col>
              <div>min/max</div>
            </ion-col>
            <ion-col>
              <ion-icon name="partly-sunny-outline"></ion-icon>
            </ion-col>
            <ion-col>
              <div>ensolarado</div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>

      <ion-item>
        <ion-grid>
          <ion-row>
            <ion-col>
              <div>00/00</div>
            </ion-col>
            <ion-col>
              <div>min/max</div>
            </ion-col>
            <ion-col>
              <ion-icon name="cloud-outline"></ion-icon>
            </ion-col>
            <ion-col>
              <div>Nublado</div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>

      <ion-item>
        <ion-grid>
          <ion-row>
            <ion-col>
              <div>00/00</div>
            </ion-col>
            <ion-col>
              <div>min/max</div>
            </ion-col>
            <ion-col>
              <ion-icon name="partly-sunny-outline"></ion-icon>
            </ion-col>
            <ion-col>
              <div>ensolarado</div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>

      <ion-item>
        <ion-grid>
          <ion-row>
            <ion-col>
              <div>00/00</div>
            </ion-col>
            <ion-col>
              <div>min/max</div>
            </ion-col>
            <ion-col>
              <ion-icon name="thunderstorm-outline"></ion-icon>
            </ion-col>
            <ion-col>
              <div>Chuvoso</div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>

    </ion-card-content>
  </ion-card>
</ion-content>
